*{
    margin: 0;
}
header{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(158, 158, 158);
    background-color: whitesmoke;
}
#logo{
    color: green;
    text-decoration:none ;
    font-size: 40px;
    font-weight: bolder;
    padding-left: 30px;
    font-style: italic;
}
#navlink{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 15px;

}
.navlink{
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding-right: 30px;
}
img{
    width: 50%;
    height: auto;
    padding-top: 50px;
    border-radius: 10px;
    padding-right: 20px;
}
#section1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#sectionlink{
    padding-left:35%;
    padding-top: 100px;
}
.sectionlink1{
    text-decoration: none;
    font-size: 25px;
    display: inline-block;
    background-color:green;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    border-radius:8px;
}
h1{
    padding-left: 35px;
    font-size: 45px;
}
p{
    padding-left: 40px;
    padding-top: 30px;
    font-size: 22px;
}
#section2{
    margin-top: 70px;
    background-color:whitesmoke;
    padding-top: 3%;
    padding-bottom: 1%;
}
footer{
    height: 64px;
    margin-top: 35px;
    padding-left: 33%;
    padding-top: 3%;
    background-color:rgb(190, 181, 181);
}
#footerlink{
    text-decoration: none;
    font-size: 25px;
    display: inline-block;
    background-color:red;
    color: wheat;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    border-radius:8px;
}